<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="5.0">
  <servlet>
    <servlet-name>Hola</servlet-name>
    <servlet-class>hola.HolaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hola</servlet-name>
    <url-pattern>/HolaServlet</url-pattern>
  </servlet-mapping>
</web-app>
